################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AyushmanBharat
/AyushmanBharat.API/bin/Debug/net6.0
/AyushmanBharat.API/obj
/AyushmanBharat.Application/bin/Debug/net6.0
/AyushmanBharat.Application/obj
/AyushmanBharat.Domain/bin/Debug/net6.0
/AyushmanBharat.Domain/obj
/AyushmanBharat.Infrastructure/bin/Debug/net6.0
/AyushmanBharat.Infrastructure/obj
/bin/Debug
/obj
/Drona.AyushmanBharat.API/bin/Debug/net6.0
/Drona.AyushmanBharat.API/obj
/Drona.AyushmanBharat.Application/bin/Debug/net6.0
/Drona.AyushmanBharat.Application/obj
/Drona.AyushmanBharat.Domain/bin/Debug/net6.0
/Drona.AyushmanBharat.Domain/obj
/Drona.AyushmanBharat.Infrastructure/bin/Debug/net6.0
/Drona.AyushmanBharat.Infrastructure/obj
/.vs/Drona.AyushmanBharat
/Drona.AyushmanBharat.ABDM/obj
/Drona.AyushmanBharat.ABDM/bin/Debug/net6.0
/.editorconfig
/Drona.ABDM.HPR.ApiClient/obj
/Drona.ABDM.HPR.ApiClient/bin/Debug/net6.0
/Drona.AyushmanBharat.Cache/bin/Debug/net6.0
/Drona.AyushmanBharat.Cache/obj
/Drona.ABDM.HPR.ApiClient/bin/Release/net6.0
/Drona.AyushmanBharat.API/bin/Release/net6.0
/Drona.AyushmanBharat.Application/bin/Release/net6.0
/Drona.AyushmanBharat.Cache/bin/Release/net6.0
/Drona.AyushmanBharat.Domain/bin/Release/net6.0
/Drona.AyushmanBharat.Infrastructure/bin/Release/net6.0
